/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
resources/dev/js/*
*.log
resources/release/js/*
releases
resources/dev/css
resources/release/css
*.html
manifest.json
