body {
  font: caption;
  padding: 0.8em;
  color: var(--color-text);
  background: var(--color-background);
}

h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.input {
  color: inherit;
  border-radius: 0.16em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  border-width: 1px;
  border-style: solid;
}

select {
  border-color: var(--color-input-border);
  background-color: var(--color-input-background);
  margin-bottom: 0.6em;
}

.bracket {
  font-size: 2em;
}

button {
  background: var(--color-button);
  border-color: var(--color-button);
}

button:hover {
  border-color: var(--color-input-hover);
}

.input:hover {
  background: var(--color-input-hover);
}

.input:active {
  border-color: var(--color-button-active);
}
